*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}

nav{
    background-color: #119BA8;
}

ul{
    list-style-type:none;
    overflow: hidden;
}

li{
    /* display: inline; */
    float: left;
}



li a{
    display: block;
    padding: 14px 10px;
    text-decoration: none;
    color: #ffffff;
}

li a:hover{
    background-color: #158892;
    border-radius: 15px;
    cursor: pointer;
}

.menu-icon{
    display: none;

}

.profile{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.intro h1{
    margin-left: 100px;
    color:#7c7774;
   
    
    
}

.profile img{
    border-radius: 50%;
    width: 400px;
    
}

.button{
    padding: 10px;
    margin: 10px;
    background-color: #F07D2B;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 14px;
}

.button:hover{
    background-color: #c7631c;
    cursor: pointer;
}

.buttons{
    margin: 20px 100px;
   
}





